import { type FC, type ReactNode } from 'react';

import { cn } from '{{configAlias "utils"}}';

{{#each subComponents}}
type {{pascalCase this}}Props = {
  children: ReactNode;
  className?: string;
};

{{/each}}
type {{pascalCase name}}Props = {
  children: ReactNode;
  className?: string;
};

type {{pascalCase name}}Component = FC<{{pascalCase name}}Props> & {
{{#each subComponents}}
  {{pascalCase this}}: FC<{{pascalCase this}}Props>;
{{/each}}
};

{{#each subComponents}}
const {{pascalCase this}}: FC<{{pascalCase this}}Props> = ({ children, className }) => (
  <div className={cn('', className)}>{children}</div>
);

{{/each}}
const {{pascalCase name}}: {{pascalCase name}}Component = ({ children, className }) => (
  <div className={cn('rounded-lg border bg-card', className)}>{children}</div>
);

{{#each subComponents}}
{{pascalCase ../name}}.{{pascalCase this}} = {{pascalCase this}};
{{/each}}

export default {{pascalCase name}};
